/* CSS for AddTaskForm component */
.add-task-container {
  display: flex;
  flex-direction: column;
}

#addTask-h3 {
  margin-top: 0px; /* Define top margin */
  margin-bottom: 10px; /* Define bottom margin */
}

#taskDescription {
  resize: none;
}

.input-fields-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Adjust the width of the container as needed */
}

.labels-task-name,
.labels-task-description,
.labels-task-dates,
.labels-task-priority,
.labels-task-category {
  margin: 5px;
  width: 100%; /* Ensure labels take up full width */
  text-align: center; /* Center align labels */
}

.input-fields-container input,
.input-fields-container textarea,
.input-fields-container select {
  width: calc(100% - 16px); /* Make input elements take up the full width of the container */
  padding: 5px; /* Add padding for input elements */
  margin: 5px; /* Add margin between input elements */
  box-sizing: border-box; /* Include padding and border in element's total width */
  border: 1px solid #ccc; /* Border color */
  border-radius: 3px; /* Border radius */
}

.dropdown-priority,
.dropdown-category {
  width: 100%; /* Ensure dropdowns take up full width */
}

#addTask {
  width: 150px;
  height: 40px;
  margin: 15px; /* Add margin to the Add task button */
  background-color: #007bff; /* Blue button */
  color: #fff; /* White text */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

#addTask:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.add-task-sidebar {
  flex: 0 0 33%;
  padding: 20px;
}

#warningMessage {
  color: red;
}
