/* Style for the notifications container */
.notifications-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Style for the notifications content */
.notifications-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 60%;
}

/* Style for individual notifications */
.notification {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  cursor: pointer;
}

/* Style for read notifications */
.notification.read {
  background-color: #f0f0f0;
}

.notification.unread {
  background-color: #ffcccb;
}

.notification.unread:hover {
  background-color: #f8afad;
}


/* Style for notification content */
.notification-content {
  display: flex;
  align-items: center;
}

/* Style for check icons */
.check-icon {
  margin-right: 5px;
} 

/* Style for the notification list */
.notification-list {
  width: 50vw;
  max-height: 60vh;
  overflow-y: auto;
  border: 1px solid #ccc; /* Add border */
  padding: 10px; /* Add padding */
  margin: 0 auto; /* Center horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.notification-content {
  display: flex;
  align-items: center;
}

.notification-time,
.notification-message {
  margin-right: 10px;
}

.notification-icon {
  margin-left: auto;
}


/* Style for the back button */
#back-button {
  cursor: pointer;
  padding: 10px 20px; /* Adjust padding */
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  width:max-content;
  height: 30px;
  line-height: 0px;
  display: block;
  margin: auto;
  position: absolute;
  bottom: 20px; /* Position at the bottom */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
}

#back-button:hover {
  background-color: #0056b3;
}
