.contents {
    display: flex;
  }
  
  .left-page-wrap,
  .right-page-wrap {
    flex: 1; /* Each section will take equal space */
  }
  
  .profile-details {
    width: 400px;
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 4px;
    margin: 40px;
  }
  
  .profile-details h2 {
    margin-bottom: 20px;
  }
  
  .profile-details label {
    display: block;
    margin-bottom: 10px;
  }
  
  .profile-details input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .profile-details button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .profile-details button:hover {
    background-color: #0056b3;
  }
  
  /* Add styles for Tasks Counter section */
  .tasks-counter {
    width: auto;
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin: 50px;
  }
  
  .tasks-counter h3 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  
  
  .task-statistic {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .task-statistic span {
    font-weight: bold;
  }
  
  .task-statistic span:last-child {
    color: #0056b3;
  }


  /* Add styles for Messages section */
  .messages-container{
    width: auto;
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin: 50px;
  }

  .messages-list{
    overflow-y: auto;
    max-height: 450px; 
  }

  #send-message{
    width: 80%;
  }

  .message {
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
  }
  
  .received {
    background-color: #c0e9c2;
    text-align: left;
  }
  
  .sent {
    background-color: #d4e2ff;
    text-align: right;
  }

  .message.read {
    background-color: #f0f0f0;
  }
  