.recovery {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .recovery h2 {
    font-size: 1.5rem;
    margin: 10px;
  }
  
  .recovery label {
    display: block;
    margin-bottom: 5px;
    margin: 10px;
  }
  
  .recovery input[type="password"] {
    width: 80%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    align-items: center;
  }
  
  .resetPassword-button {
    text-align: center;
  }
  
  .resetPassword-button button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  
  .resetPassword-button button:hover {
    background-color: #0056b3;
  }
  