/* Task.css */

.task-details {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    padding: 20px;
    text-align: center; 
  }
  
  .task-details h2 {
    margin-bottom: 20px;
  }
  
  .task-details label {
    margin-bottom: 8px;
  }
  
  .task-details input,
  .task-details textarea,
  .task-details select {
    width: 30%;
    margin-bottom: 12px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center; 
  }
  
  .task-details button {
    width: 150px;
    height: 40px;
    margin-top: 16px; /* Add margin to the buttons */
  }
  
  .dropdown-editTask {
    width: 40%; /* Adjust width to match the category dropdown */
    margin-bottom: 12px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .button:hover {
    background-color: #515355;
    cursor: pointer;
  }