/* UserManagement.css */

.user-managment-page {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure the page takes up the full height of the viewport */
}

.content {
  flex: 1; /* Allow content to take up remaining space */
  padding: 20px; /* Add padding for styling */
}

.content-title {
  text-align: center; /* Center align the title */
  margin-bottom: 20px; /* Add margin at the bottom to separate from other content */
}


.page-title {
  margin-bottom: 20px;
}

.user-columns {
  display: flex; /* Arrange columns side by side */
}

.add-user-column,
.users-board,
.edit-user-column {
  flex: 1; /* Each column takes up equal space */
}

.add-user-column {
  margin-right: 20px; /* Add margin between columns */
}

.users-board h3 {
  text-align: center; /* Center align the heading */
}

.users-board {
  flex: 2;
}
.add-user-column {
  margin-right: 20px; /* Add margin for spacing */
}

.add-user-column h3 {
  text-align: center;
}


.users-table {
  width: 90%;
  border-collapse: collapse;
}

.users-table th {
  padding: 10px;
  border: 1px solid white;
  background-color: #f0f0f0;
  text-align: center;
}

.users-table td {
  padding: 10px;
  text-align: center;
}

.users-table-button1,
.users-table-button {
  cursor: pointer;
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  display: block; /* Convert buttons into block-level elements */
  margin: auto; 
}

.users-table-button {
  background-color: #007bff;
}

.users-table-button1 {
  background-color: #59b7f7;
}

.users-table-button1:hover,
.users-table-button:hover {
  background-color: #0056b3;
}

.homeMenu-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#usersBackButton{
  margin-top: 45px;
  cursor: pointer;
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
}

#usersBackButton:hover {
  background-color: #0056b3;
}

.add-user-form {
  width: 300px;
  margin: 0 auto; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.add-user-form h3 {
  text-align: center;
  margin-bottom: 10px;
}

.add-user-form button {
  width: 50%;
  margin: 0 auto;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.add-user-form button:hover {
  background-color: #0056b3;
}

.add-user-form input,
.add-user-form select {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.add-user-form button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.add-user-form button:hover {
  background-color: #0056b3;
}

#warningMessage1 {
  color: red;
  text-align: center;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 35%;
}

.modal-buttons button {
  margin: 0px;
  height: 30px;
  text-align: center; 
  line-height: 0px;
}

.profile-details {
  width: 300px;
  margin: 0 auto; /* Center the profile details */
  text-align: center;
  padding: 20px; /* Add padding for styling */
  border: 1px solid #ccc; /* Add border for styling */
  border-radius: 5px; /* Add border radius for styling */
}

.profile-details h3 {
  margin-bottom: 20px;
}

.profile-details label {
  display: block;
  margin-bottom: 10px;
}

.profile-details input {
  width: calc(100% - 20px);
  padding: 8px;
  margin-left: auto;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.profile-details button {
  width: calc(100% - 20px); /* Adjusting width to account for padding */
  padding: 10px;
  margin-top: 10px;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff; /* Primary button color */
  color: #fff; /* Text color */
}

.profile-details button:hover {
  background-color: #0056b3; /* Darker color on hover */
}

.add-button-warning {
  text-align: center; /* Center align the contents */
}

.button-container {
  display: inline-block; /* Ensure the container only takes up as much width as its contents */
}

#usersProfileTitle,
#usersTableTitle,
#addUserTitle{
  text-align: center;
}

#addUserTitle{
  margin-bottom: 85px;
}

#otherUserProfile{
  margin-bottom: 23px;
}

#otherUserButton{
  width: 60%;
}