.user-managment-page {
  display: flex;
  flex-direction: column;
  height: 100%; 
}

.content {
  flex: 1; /* Allow content to take up remaining space */
  padding: 20px;
}

.content-title {
  text-align: center;
  margin-bottom: 20px;
}


.page-title {
  margin-bottom: 20px;
}

.user-columns {
  display: flex; /* Arrange columns side by side */
}

.add-user-column,
.users-board,
.edit-user-column {
  flex: 1; /* Each column takes up equal space */
}

.add-user-column {
  margin-right: 20px;
}

.users-board h3 {
  text-align: center;
}

.users-board {
  flex: 2;
}
.add-user-column {
  margin-right: 20px;
}

.add-user-column h3 {
  text-align: center;
}

.users-table {
  width: 90%;
  border-collapse: collapse;
}

.users-table th {
  padding: 10px;
  border: 1px solid white;
  background-color: #f0f0f0;
  text-align: center;
}

.users-table td {
  padding: 10px;
  text-align: center;
}

.users-table-button1,
.users-table-button {
  cursor: pointer;
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  display: block; /* Convert buttons into block-level elements */
  margin: auto; 
}

.users-table-button {
  background-color: #007bff;
}

.users-table-button1 {
  background-color: #59b7f7;
}

.users-table-button1:hover,
.users-table-button:hover {
  background-color: #0056b3;
}

.homeMenu-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#usersBackButton{
  margin-top: 45px;
  cursor: pointer;
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
}

#usersBackButton:hover {
  background-color: #0056b3;
}

.add-user-form {
  width: 300px;
  margin: 0 auto; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.add-user-form h3 {
  text-align: center;
  margin-bottom: 10px;
}

.add-user-form button {
  width: 50%;
  margin: 0 auto;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.add-user-form button:hover {
  background-color: #0056b3;
}

.add-user-form input,
.add-user-form select {
  width: 100%;
  margin-left: 0px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.add-user-form button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.add-user-form button:hover {
  background-color: #0056b3;
}

#warningMessage1 {
  color: red;
  text-align: center;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 35%;
}

.modal-buttons button {
  margin: 0px;
  height: 30px;
  text-align: center; 
  line-height: 0px;
}

.profile-details {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.profile-details h3 {
  margin-bottom: 20px;
}

.profile-details label {
  display: block;
  margin-bottom: 10px;
}

.profile-details input {
  width: calc(100% - 20px);
  padding: 8px;
  margin-left: auto;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.profile-details button {
  width: calc(100% - 20px); /* Adjusting width to account for padding */
  padding: 10px;
  margin-top: 10px;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff; 
  color: #fff;
}

.profile-details button:hover {
  background-color: #0056b3;
}

.add-button-warning {
  text-align: center;
}

.button-container {
  display: inline-block;
}

#usersProfileTitle,
#usersTableTitle,
#addUserTitle{
  text-align: center;
}

#addUserTitle{
  margin-top: 60px;
  margin-bottom: 100px;
}

#usersProfileTitle{
  margin-top: 55px;
}

#otherUserProfile{
  margin: none;
}

#otherUserButton{
  width: 60%;
}

/* Media query for screens with maximum width of 1280px */
@media (max-width: 1280px) {
  .user-columns {
    flex-direction: column; /* Change flex direction to column */
  }

  .add-user-column,
  .users-board,
  .edit-user-column {
    flex: none; /* Remove flex property to stack elements vertically */
    width: 100%;
    margin-bottom: 15px;
  }

  #addUserTitle,
  #usersProfileTitle{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/* Media query for screens with maximum width of 560px */
@media (max-width: 560px) {
  .page-title,
  .users-board h1,
  .add-user-column h3,
  .users-board h3,
  .edit-user-column h3 {
    font-size: 14px; 
  }

  .add-user-form input,
  .add-user-form select,
  .add-user-form button,
  .profile-details input,
  .profile-details button {
    font-size: 12px;
  }

  .users-table th,
  .users-table td {
    font-size: 12px;
  }

  .users-table-button,
  #usersBackButton {
    font-size: 12px;
  }

  .homeMenu-button-container {
    margin-top: 8px;
  }
}