header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
  }
  
  .header-right {
    display: flex;
    align-items: center;
  }
  
  .welcome-message {
    font-size: 20px; 
    font-weight: bold; 
    margin-right: 20px; 
    cursor: pointer;
    text-decoration: none;
    color: black;
  }
  
  .user-name {
    color: #013d7c;
  }
  
  .logout-button {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .logout-button:hover {
    background-color: #0056b3;
  }
  
  .user-photo {
    max-width: 90px;
    max-height: 90px;
    margin-right: 10px;
  }
  
  @media (max-width: 750px) {
    .user-photo {
      max-width: 50px;
      max-height: 50px;
    }

    .welcome-message {
      font-size: 12px; 
      font-weight: bold; 
      margin-right: 10px; 
      cursor: pointer;
      text-decoration: none;
      color: black;
    }

    .logout-button {
      font-size: 10px;
      padding: 10px 20px;
      background-color: #007bff;
      color: #ffffff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

  }